/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */
.bg_shimmer_banner {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.bg_shimmer_banner {
  background: linear-gradient(-45deg, transparent 25%, transparent 30%, transparent 45%, rgba(255, 255, 255, 0.5) 50%, transparent 55%, transparent 75%, transparent 100%);
  background-size: 200% 200%;
  animation: shimmer .7s normal;
  /* Change 500ms to 1s and make it infinite */
}

.shimmer_div:hover .bg_shimmer_banner {
  animation: shimmer-reverse .7s forwards;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

@keyframes shimmer-reverse {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* .gridSection {
  @apply grid md:grid-cols-[40%_1fr] bg-green grid-cols-1 gap-4 items-center select-none min-h-[20vw];
  & > .contentWrapper {
    @apply flex flex-col gap-4;

    & > .content {
      @apply flex flex-col;

      & > .heading {
        @apply text-white  font-bold;
      }
      & > .description {
        @apply text-white text-opacity-70 text-caption1;
      }
    }
    & > .bannerButtons {
      @apply flex gap-4;
    }
  }
  & > .backgroundBannerImage {
    @apply relative w-full aspect-[16/9];

    &::after {
      content: url("/icons/dots-light.svg");
      position: absolute;

      @apply aspect-square w-[30%] top-5 right-5;
    }
  }
} */